div {
    padding: 15px;
    border: 1px solid #000;
    margin: 10px auto;
    display: inline-block;
    max-width: 150px;
}

p {
    display: block;
    border: 1px solid #000;
}

@media screen and (max-width: 1050px) {}